<a href="https://colab.research.google.com/github/LeidyCruz/k_means_Clustering/blob/main/K_means_customer_segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs

print('Libraries imported.')

Libraries imported.

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.datasets.samples_generator module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
np.random.seed(0)

In [3]:
!wget -q -O 'customer_segmentation.csv' https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs/customer_segmentation.csv
print('Data downloaded!')

Data downloaded!

In [4]:
customers_df = pd.read_csv('customer_segmentation.csv')
customers_df.head()

   Customer Id  Age  Edu  ...  Defaulted  Address  DebtIncomeRatio
0            1   41    2  ...        0.0   NBA001              6.3
1            2   47    1  ...        0.0   NBA021             12.8
2            3   33    2  ...        1.0   NBA013             20.9
3            4   29    2  ...        0.0   NBA009              6.3
4            5   47    1  ...        0.0   NBA008              7.2

[5 rows x 10 columns]

In [5]:
df = customers_df.drop('Address', axis=1)
df.head()

   Customer Id  Age  Edu  ...  Other Debt  Defaulted  DebtIncomeRatio
0            1   41    2  ...       1.073        0.0              6.3
1            2   47    1  ...       8.218        0.0             12.8
2            3   33    2  ...       5.802        1.0             20.9
3            4   29    2  ...       0.516        0.0              6.3
4            5   47    1  ...       8.908        0.0              7.2

[5 rows x 9 columns]

In [6]:
from sklearn.preprocessing import StandardScaler

X = df.values[:,1:]
X = np.nan_to_num(X)
cluster_dataset = StandardScaler().fit_transform(X)
cluster_dataset

array([[ 0.74291541,  0.31212243, -0.37878978, ..., -0.59048916,
        -0.52379654, -0.57652509],
       [ 1.48949049, -0.76634938,  2.5737211 , ...,  1.51296181,
        -0.52379654,  0.39138677],
       [-0.25251804,  0.31212243,  0.2117124 , ...,  0.80170393,
         1.90913822,  1.59755385],
       ...,
       [-1.24795149,  2.46906604, -1.26454304, ...,  0.03863257,
         1.90913822,  3.45892281],
       [-0.37694723, -0.76634938,  0.50696349, ..., -0.70147601,
        -0.52379654, -1.08281745],
       [ 2.1116364 , -0.76634938,  1.09746566, ...,  0.16463355,
        -0.52379654, -0.2340332 ]])

In [7]:
num_clusters = 3

k_means = KMeans(init="k-means++", n_clusters=num_clusters, n_init=12)
k_means.fit(cluster_dataset)
labels = k_means.labels_

print(labels)

[2 0 1 2 0 0 2 2 2 0 1 2 2 2 1 2 2 2 0 2 2 2 1 0 0 2 2 2 2 2 2 0 1 2 2 2 1
 1 2 0 1 0 2 0 2 0 2 2 2 2 0 0 1 2 1 1 1 2 2 2 0 2 0 0 2 2 2 1 2 1 2 2 2 2
 2 2 2 2 0 2 2 1 0 2 0 2 2 2 1 1 2 2 1 1 2 2 2 2 1 2 1 0 2 1 1 0 2 2 2 2 2
 2 2 1 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1 2 2 2 0 2 2 1
 2 2 2 0 1 2 2 2 2 0 1 1 2 0 2 2 2 2 2 2 2 2 0 2 2 1 2 1 2 2 1 0 1 2 2 0 1
 0 2 2 2 2 2 0 2 1 2 2 2 0 0 2 0 2 1 2 2 1 2 0 2 1 2 2 2 2 2 1 1 0 2 2 1 0
 2 2 2 2 0 2 2 1 2 2 2 2 0 2 2 1 0 2 2 2 2 2 2 0 2 0 2 2 2 2 2 2 0 1 2 1 2
 2 2 0 2 1 0 1 2 0 2 2 1 2 2 2 2 1 1 1 2 2 2 0 2 2 0 2 0 2 2 0 2 2 2 1 2 2
 1 2 1 0 2 2 2 2 1 2 2 1 1 2 2 2 2 2 2 2 2 1 2 1 0 2 1 2 2 2 1 1 2 2 2 0 1
 2 2 1 2 0 2 2 2 2 2 1 0 2 2 2 2 2 0 2 2 2 2 2 0 2 2 2 0 1 2 1 2 2 2 0 0 2
 1 2 0 1 1 2 2 2 1 2 2 2 2 2 0 2 0 2 2 2 2 1 2 1 2 2 2 0 2 2 2 2 1 2 2 1 1
 0 2 2 2 2 2 1 1 2 0 1 0 2 2 1 2 2 0 0 2 1 2 2 0 2 1 2 0 2 2 2 0 2 2 2 2 0
 2 1 2 2 2 2 0 1 2 2 0 2 1 2 2 0 2 0 2 2 2 2 2 2 2 0 0 2 2 0 2 1 2 2 2 1 2
 1 2 2 2 2 2 0 1 1 2 0 2 0 2 2 1 0 2 1 1 1 0 0 1 2 2 1 2 1 1 2 1 0 2 2 1 2
 1 0 1 2 2 1 2 2 1 1 1 2 2 2 0 0 2 2 1 2 2 1 0 2 1 2 2 2 1 2 0 2 0 0 2 0 2
 2 0 2 1 2 2 2 2 1 1 2 0 2 0 2 2 0 2 1 2 1 2 1 1 1 0 1 2 2 2 1 2 2 2 0 2 0
 2 1 1 2 2 2 2 2 2 2 1 0 2 0 2 2 1 2 2 2 1 2 2 1 1 1 1 2 0 2 1 1 2 2 2 2 0
 0 2 1 2 2 0 2 2 0 2 0 2 2 0 1 0 0 0 1 2 2 1 2 0 0 2 2 2 0 1 2 2 2 2 0 2 2
 2 2 2 1 2 2 0 2 2 0 2 2 2 2 2 2 1 0 2 2 1 2 2 2 2 1 2 0 2 2 0 2 2 1 2 1 2
 1 1 2 2 2 0 1 0 2 0 0 2 1 2 0 2 0 2 2 2 2 2 0 2 1 2 2 0 0 2 2 0 2 2 2 2 2
 2 2 2 1 2 2 0 2 2 2 2 2 2 2 1 2 2 2 0 1 0 0 2 2 2 1 2 2 2 1 1 2 1 2 2 2 0
 2 2 2 2 2 2 2 0 2 2 2 2 2 2 0 0 1 1 2 1 2 2 2 2 0 1 2 2 2 2 2 0 1 2 2 2 1
 2 2 1 2 2 2 2 2 2 1 1 0 0 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 0]

In [8]:
df["Labels"] = labels
df.head(5)

   Customer Id  Age  Edu  ...  Defaulted  DebtIncomeRatio  Labels
0            1   41    2  ...        0.0              6.3       2
1            2   47    1  ...        0.0             12.8       0
2            3   33    2  ...        1.0             20.9       1
3            4   29    2  ...        0.0              6.3       2
4            5   47    1  ...        0.0              7.2       0

[5 rows x 10 columns]

In [9]:
df.groupby('Labels').mean()

        Customer Id        Age  ...  Defaulted  DebtIncomeRatio
Labels                          ...
0        424.408163  43.000000  ...   0.162393        13.915646
1        424.451807  31.891566  ...   0.993939        13.994578
2        426.122905  33.817505  ...   0.000000         7.964991

[3 rows x 9 columns]